<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Umiwataru</title>
  <link rel="stylesheet" href="stylesheet.css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body>
  <div class="top-wrapper">
    <div class="container">
      <div class="background-image">
      </div>
    </div>
  </div>
  <div class="middle-wrapper">
    <div class="container">
      <div class="concept">
        <h1>山の上にある、</br>ゆったりした時間。</h1>
        <p>海渡り荘は、横須賀の海近くの山の上に佇むシェアハウスです。</br>
        ゆったりと流れる時間、鳥のさえずり、波の音。</br>
        ここにいると、不思議と心が安らいでいくような気がします。</br>
        新しい人生を、この丘の上から始めてみませんか。
        </p>
      </div>
      <ul class="links">
        <li><a href="/photo"></span>写真</a></li>
        <li><a href="/price">料金</a></li>
        <li><a href="/access"></span>アクセス</a></li>
        <li><a href="https://twitter.com/Umiwatarisoo"><span class="fab fa-twitter"></span>Twitter</a></li>
        <li class="sns-link"><a href="https://www.youtube.com/channel/UCUaSxee8CCdMknmVM-Hh6ug"><span class="fab fa-youtube"></span>Youtube</a></li>
      </ul>
    </div>
  </div>

  <div class="bottom-wrapper">
    <div class="container">
      <a href="tel:080-6595-6098" class="contact-phone">Tel: 080-1234-5678</a>
    </div>
  </div>
</body>
</html>
